<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335670873445-22mvnqa20h1dbbrjth7gd3n9gpf9r881.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335670873445-22mvnqa20h1dbbrjth7gd3n9gpf9r881</string>
	<key>API_KEY</key>
	<string>AIzaSyCR1efyEQhJMnq6-CiM7TlVfZY8ZdIqyVg</string>
	<key>GCM_SENDER_ID</key>
	<string>335670873445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mint.fiestapp</string>
	<key>PROJECT_ID</key>
	<string>fiestapp-58e52</string>
	<key>STORAGE_BUCKET</key>
	<string>fiestapp-58e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:335670873445:ios:55efa5ca93fbc0bb</string>
	<key>DATABASE_URL</key>
	<string>https://fiestapp-58e52.firebaseio.com</string>
</dict>
</plist>